@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
    color: black;
    margin-left: 20px;
}
/*File that is included in every html page*/
/* COMMON STYLES */
body {

  font-family: "Helvetica Neue";

  background-color: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ); /*#f2f2f2*/
  font-size: 18px;

  font-family: 'Montserrat', Arial;
  background: #fff;
  font-size: 16px;

  color: #333;
}

.carousel-control.left, .carousel-control.right {
   background-image: none;
}

.mission {
  /*--border-style: solid;
  text-align: center;
  /*border-width: 10px;*/
  border-color: #0066FE;
  background-color: #fff;
  padding: 10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #9fff80;
  text-align: center;
}
.navbar .navbar-nav {
   display: inline-block;
   float: none;
}

.navbar .navbar-collapse {
   text-align: center;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 1500px;}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #fff;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
.nav > li > a {
  color: black !important;
}
