<<<<<<< HEAD
body {
    color: #333;
    background-color: #fff;
}

h1 {
    color: yellow;
    margin-left: 20px;
}
=======
/*File that is included in every html page*/
/* COMMON STYLES */
body {
<<<<<<< HEAD
  background-color: #EEE;
  color: #444;
  font-size: 18px;
}
<<<<<<< HEAD
>>>>>>> 6949a991dc3dadf759e1311d0c0fb091b95359f7
=======
    color: #333;
    background-color: #fff;
}
>>>>>>> e21c0bf198148b53a283be7269655b4361a48947
=======
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
>>>>>>> 973f5a24027a7606f57b16277ae1fc5c64f880f4
