@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fresca');

h1 {
    color: black;
    font-family: 'Fresca', sans-serif;
    font-size: 40px;

}
.nav>li> a:hover{
  color: #fff !important;
  background-color: transparent;
}

/*File that is included in every html page*/
/* COMMON STYLES */
body {

  font-family: "Helvetica Neue";

  background-color: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ); /*#f2f2f2*/
  font-size: 18px;

  font-family: 'Montserrat', Arial;
  background-image: url("/files/paper_fibers.png");
  font-size: 16px;

  color: #333;
}

.carousel-control.left, .carousel-control.right {
   background-image: none;
}

.mission {
  /*--border-style: solid;
  text-align: center;
  /*border-width: 10px;*/
  padding: 10px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  text-align: left;

}
.navbar .navbar-nav {
   display: inline-block;
   float: none;
}

button > a {
  color: #fff;
}

.navbar .navbar-collapse {
   text-align: left;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 790px;}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-image: url("/files/paper_fibers.png");
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 5px;
}

footer > div > p{
  margin-bottom: 0px;
}

footer > div{
  margin-top: 25px;
  margin-bottom: 0px;
}

footer > div > a {
  margin-left: 20px;
  color: #fff;
}

@keyframes fadeInUp {
0% {
opacity: 0;
transform: translateY(20px);
}

100% {
opacity: 1;
transform: translateY(0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
-moz-animation-name: fadeInUp;
-o-animation-name: fadeInUp;
animation-name: fadeInUp;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
.nav > li > a {
  color: black !important;
}
